# Ignore all Pcashe
*.pyc
ReportFigures
VideoData/Experiment13h_050619
VideoData/TestDataGood
VideoData/tileScan1
ImageData
Segmentation/__pycache__
UserInterface/LoadData/bftools/*
VideoData/WorkingData/*
Trash
Trash/*
__pycache__
